@media (max-width: 572px) {
    .mq1{
        display: flex;
        flex-wrap: wrap;
    }
    .txt-short {
        font-size: 10.5rem;
    }
    .txt-1 {
        font-size: 9rem;
        text-align: center;
    }
    .txt-2 {
        color: rgb(102, 94, 94);
        font-size: 4.3rem;
        text-align: center;
    }
    .btn-1 {
        background-color: hsl(180, 66%, 49%);
        color: white;
        padding: 2.9rem 1rem;
        border-radius: 2rem;
        justify-content: center;
        display: flex;
        font-size: 3rem;
        margin: 3rem 37rem;
    }
    .img-size {
        width: 98rem;
        border: none;
    }
    .btn-2 {
        margin-top: 3rem;
        margin-left: 9rem;
        border-radius: 0.5rem;
        width: 67.5rem;
        text-decoration: none;
        padding: 2rem 0 2rem 0.3rem;
        font-size: 5rem;
        border-radius: 2rem !important;
        text-align: center;
    }
    .srch-2{
        margin-top: -2rem;
        margin-left: 9rem;
        width: 68rem !important;
        padding: 3rem 0 !important;
        font-size: 4rem !important;
        border-radius: 2rem !important;
    }
    .extra-hidden{
        color: black;
        text-align: right;  
        justify-content: center;
        font-size: 3rem;
        /* border: 2px solid black; */
        padding: 14rem !important;
        width: 82rem;
        margin-left: 9rem;
        border-radius: 4rem !important;
        padding-bottom: 8rem !important;
    }
    .urlName {
        position: relative;
        margin-top: 2rem;
        left: -18rem;
        top: -13rem;
        font-size: 5rem;
    }
    .top_box{
        margin-top: 7rem;
        text-align: center;
        border: 2px solid black;
        padding: 33rem 0;
        background-color: rgb(4, 4, 56);
        border-radius: 2rem;
        color: white !important;
        /* font-size: 4rem !important;   */
    }
    .nav-link{
        color: white !important;
        font-size: 6rem  !important;
    }

    .text_btn{
        align-items: center;
        margin-left: 36rem;
    }
    





    .extra-hidden button{
        position: absolute;
        padding: 3rem 1rem;
        border-radius: .3rem;
        margin-top: 6rem;
        width: 70rem;
        border-radius: 2rem;
    }
    /* .copyBtn {
        position: absolute;
        margin-top: 6rem;
        margin-left: -1rem;
        width: 72rem;
    } */





    .mq-2{
        font-size: 7rem;
        margin: 10rem  0 2rem 0;
    }
    .track-1{
        font-size: 3rem;
        color: rgb(102, 94, 94);
        margin-bottom: 15rem;
    }
    .card-body{
        font-size: 5rem;
        text-align: center;
        width: 70rem;
    }
    .crd-1{
        margin-left: 25rem;
        
    }
    .h1-lst{
        font-size: 5rem;
        
    }
    .lst-1 {
        padding: 20rem;
    }
    .btn-3 {
        padding: 2.5rem 14rem;
        border-radius: 5rem;
        background-color: rgb(189, 189, 180);
        color: white;
        font-size: 3rem;
    }
    .ft-txt-1{
        margin-left: 11rem;
        font-size: 10rem;
        margin-top: 5rem;
        justify-content: center;
        
    }
    .txt-c{
        position: relative;
        padding: 22rem;
        padding-bottom: 150rem !important;
    }
    .ft{
        position: absolute;
        align-items: center;
        text-align: center;
    }
    .ft-1{
        margin-top: 26rem;
        left: 40rem;
        font-size: 3rem;
    }
    .ft-2{
        margin-top: 69rem;
        left: 38rem;
        font-size: 3rem;
    }
    .ft-3{
        margin-top: 105rem;
        left: 34rem;
        font-size: 3rem;
    }
    .ft-4{
        margin-top: 145rem;
        left: 36rem;
    }
    .htg{
        font-size: 6rem;
        position: absolute;
        top: -5rem;
        right: -5rem;
    }
    .htg2{
        font-size: 6rem;
        position: absolute;
        top: -6rem;
        right: -9rem;
    }
    .htg3{
        font-size: 6rem;
        position: absolute;
        top: -10rem;
        right: -12rem;
    }
    .tp3{
        margin-top: 1rem;
        margin-left: 8rem;
    }


    .advertising {
        margin-bottom: 5rem !important;
        margin-top: 5rem !important;
        gap: 10rem !important;
        
    }
    .advertising .brand::after {
        display: none;
    }
    .tp1{
        margin-top: 2rem;
    }
    .tp2{
        margin-top: 1rem;
        margin-left: 2rem;
    }

    .reverse{
        flex-wrap: wrap-reverse;
    }
    .advertising .advertising-item:before {
        margin-left: 24rem;
        width: 2rem;
        height: 9.5rem;
        width: 9.5rem;
        top: -3rem;
    }
    .ft-4{
        position: absolute;
        gap: 4rem;
        display: flex;
        justify-content: space-between;
        margin-left: -4rem;
    }
    .navbar-brand {
        font-size: 7rem !important;
    }
    .nav-link{
        font-size: 3rem;
    }
    .btn{
        font-size: 3rem !important;
    }
    .url_hdn{
        font-size: 4rem;
        margin-left: 11rem !important;
        
    }
    .me-2 {
        padding-left: 3rem !important;
        margin-right: 0.5rem!important;
    }
    .srch-1 img{
        width: .1rem !important;
    }
    .srch-1 {
        width: 85rem !important;
        padding: 8rem 0;
        border-radius: 2.7rem;
        background-color: rgba(8, 1, 12, 0.486);
        margin-left: 8rem;
    }

    .hidden_div a{
        position: absolute;
        margin-top: -4rem;
        padding: 2rem; 
        right: 27rem;
        font-size: 4rem;      
    }








    }




@media (max-width: 990px){
    .advertising .brand::after {
        display: none;
    }
} 


@media (max-width:984px){
    .advertising .advertising-item:before {
        left: 13rem;
    }
}

@media (max-width:765px){
    .advertising .advertising-item:before {
        left: 18rem;
    }

}
@media (max-width:569px){
    .advertising .advertising-item:before {
        left: -2rem;
    }
}
@media (max-width:406px){
    .advertising .advertising-item:before {
        left: 11rem;
    }

}






